.authNav {
  display: flex;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.authLink {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
}

.authLink:hover {
  text-decoration: underline;
}

.active {
  color: rgb(26, 153, 85);
}
